<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Sun Moon</title>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
        </script>
    </head>
    <body class="body">
        <div class="relative flex items-top justify-center min-h-screen bg-gray-100 dark:bg-gray-900 sm:items-center py-4 sm:pt-0">
            <div id="root">
                <form class="form">
                    <div class="form_element">
                        <label for="zip">Zip</label>
                        <input type="text" v-model=zip placeholder="78704" name="zip" required="required"/>
                        <p>The value of Zip is: {{ zip }}</p>
                    </div>
                    <div class="form_element">
                        <label for="timezone">Timezone</label>
                        <input type="text" v-model=timezone placeholder="-5" name="timezone" required="required"/>
                    </div>
                    <div class="form_element">
                        <label for="date">Date</label>
                        <input type="text" v-model=date name="date" required="required"/>
                    </div>
                    <input :disabled="disableClimateSubmit" id="submit" type="submit"/>
                </form>

                <h2>All Todos</h2>
                <ul>
                    <li v-for="todo in todos">
                        {{ todo.description }}
                        <input type="checkbox" v-model="todo.completed">
                    </li>
                </ul>

                <h2>Incomplete Todos</h2>
                <ul>
                    <li v-for="todo in incompleteTodos">{{ todo.description }}</li>
                </ul>

                <h2>Complete Todos</h2>
                <ul>
                    <li v-for="todo in completeTodos">{{ todo.description }}</li>
                </ul>
            </div>

            <h2>Favorite Cities</h2>
                <div id="cities">
                    <ul>
                        <city-list
                            v-for="place in cities"
                            v-bind:city="place"
                        >
                        </city-list>

                        <h2>Visited Cities</h2>
                        <li v-for="visited in visitedCities">
                            {{ visited.name }}
                        </li>
                    </ul>
            </div>
        </div>
    </body>
</html>

<script src="https://unpkg.com/vue@next"></script>
<script src="http://localhost/js/main.js"></script>

<script>
    const ClimateData = {
        data() {
            return {
                zip: '',
                date: '',
                timezone: '',

                todos: [
                    { description: "Go to zoo", completed: false },
                    { description: "Grocery shop", completed: false },
                    { description: "Clean house", completed: false },
                    { description: "Walk dog", completed: false },
                    { description: "Make dinner", completed: false },
                    { description: "Wash clothes", completed: false },
                ],
            }
        },
        computed: {
            disableClimateSubmit() {
                return this.zip === '' || this.date === '' || this.timezone === '';
            },
            completeTodos() {
                return this.todos.filter(todo => todo.completed);
            },
            incompleteTodos() {
                return this.todos.filter(todo => !todo.completed);
            },
        },
    }

    const app = Vue.createApp(ClimateData);
    const vm = app.mount('#root');

</script>

<style>
    body {
        font-family: 'Nunito', sans-serif;
    }
</style>
