<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Sun Moon</title>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
        </script>
    </head>
    <body class="body">
        <div class="relative flex items-top justify-center min-h-screen bg-gray-100 dark:bg-gray-900 sm:items-center py-4 sm:pt-0">
            <div id="root">
                <form class="form">
                    <div class="form_element">
                        <label for="zip">Zip</label>
                        <input type="text" v-model=zip placeholder="78704" name="zip" required="required"/>
                        <p>The value of Zip is: {{ zip }}</p>
                    </div>
                    <div class="form_element">
                        <label for="timezone">Timezone</label>
                        <input type="text" placeholder="-5" name="timezone" required="required"/>
                    </div>
                    <div class="form_element">
                        <label for="date">Date</label>
                        <input type="text" name="date" required="required"/>
                    </div>
                    <input id="submit" type="submit"/>
                </form>
            </div>
        </div>
    </body>
</html>

<script src="https://unpkg.com/vue@next"></script>

<script>
    const ClimateData = {
        data() {
            return {
                zip: '',
            }
        }
    }


</script>

<style>
    body {
        font-family: 'Nunito', sans-serif;
    }
</style>
