<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Sun Moon</title>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
        </script>
    </head>
    <body class="body">
        <div class="relative flex items-top justify-center min-h-screen bg-gray-100 dark:bg-gray-900 sm:items-center py-4 sm:pt-0">
            <div id="root">
                <form class="form">
                    <div class="form_element">
                        <label for="zip">Zip</label>
                        <input type="text" v-model=zip placeholder="78704" name="zip" required="required"/>
                        <p>The value of Zip is: {{ zip }}</p>
                    </div>
                    <div class="form_element">
                        <label for="timezone">Timezone</label>
                        <input type="text" v-model=timezone placeholder="-5" name="timezone" required="required"/>
                    </div>
                    <div class="form_element">
                        <label for="date">Date</label>
                        <input type="text" v-model=date name="date" required="required"/>
                    </div>
                    <input :disabled="disableClimateSubmit" id="submit" type="submit"/>
                </form>

                <p>Names</p>
                <ul>
                    <li v-for="name in names">
                        {{ name }}
                        <button v-on:click="deleteName(name)">Delete</button>
                    </li>
                </ul>
                <input type="text" v-model="newName" ><button @click="addName">Add Name</button>
            </div>
        </div>
    </body>
</html>

<script src="https://unpkg.com/vue@next"></script>

<script>
    const ClimateData = {
        data() {
            return {
                zip: '',
                date: '',
                timezone: '',
                names: [
                    'rachel', 'amber', 'laura'
                ],
                newName: '',
            }
        },
        computed: {
            disableClimateSubmit() {
                return this.zip === '' || this.date === '' || this.timezone === '';
            },
        },
        methods: {
            addName() {
                if(this.newName != '') {
                    this.names.push(this.newName);
                    this.newName ='';
                }
            },
            deleteName(name) {
                const index = this.names.indexOf(name);

                if(index != -1) {
                    this.names.splice(index, 1);
                }
            }
        },
    }

    const app = Vue.createApp(ClimateData);
    const vm = app.mount('#root');

</script>

<style>
    body {
        font-family: 'Nunito', sans-serif;
    }
</style>
